<html>
	<head>
		<title>{{greeting_msg}}</title>
	</head>

	<body>
		<h4>Provisioned by {{provisioner_tool}}</h4>
		<h4>Configured by {{conf_mgr_tool}}</h4>
		<h4>Hostname - {{ansible_hostname}}</h4>
	</body>
</html>
